$colors :#ffffff, #212121, 
        #1c2431,#181f2a,#0b1523,#202a3c,
        #65e2d9, #339ecc, #ff4242;

@each $color in $colors {
  $i : index($colors, $color);
  .text-#{$i}{
    color : $color;
  }
  .bg-#{$i}{
    background-color : $color;
  }
}
@debug nth($list: $colors, $n: 7);


// #1C2230 header hero cta - 3
// #181f2b body - 4
// #0C1524 footer - 5

