html{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
// =================================================
.poppins{font-family: 'Poppins', sans-serif;}
.raleway{font-family: 'Raleway', sans-serif;}
.open-sans{font-family: 'Open Sans', sans-serif;}
// =================================================
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-left{text-align: left;}
// =================================================
@for $i from 1 through 7 {
  .fs-#{$i} {
    font-size: #{calc($i / 3)}rem;
  }
  .fw-#{$i} {
    font-weight: #{$i}00;
  }  
}
// ================================================